@font-face {
  font-family: "IBMPlexMono"; /* Project id 3197714 */
  src: url('./IBMPlexMono-Regular.woff2') format('woff2')
}



.content-class-no-found {
  background: #ef4444;
  color: white !important;
  border-radius: 2px;
}

.content-class-found {
  background: #7cb305;
  color: white !important;
  border-radius: 2px;
}


.tooltip-theme1 {
  display: flex;
  padding: 10px;
  border-radius: 3px;
  /*padding-bottom: 0;*/
  background-color: #f5f5f5;
}

.tooltip-theme1 .name {
  color: black;
  margin-right: 8px;
}

.tooltip-theme1 .value {
  color: black;
  background-color: #a3a3a3;
  padding: 0 4px;
  border-radius: 2px;
}

.highlight-input {
  border-left: none !important;
}


.rhi-tooltip {
  position: absolute;
  top: -32px;
  color: black;
  z-index: 1000;
  white-space: nowrap;
  font-weight: bold;
}

.rhi-tooltip .content {
  border-radius: 2px;
  padding: 6px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 1px 2px -2px rgba(0, 0, 0, .16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
}

.rhi-tooltip .shim {
  height: 6px;
}

.rhi-tooltip .small-triangle {
  border: 4px solid rgba(0, 0, 0, 0);
  width: 0;
  height: 0;
  border-top-color: rgb(245, 245, 245);
  margin-left: 8px;
}

.highlight-input .green {
  color: #ff6c37;
  background-color: rgba(0, 0, 0, 0);
}

.highlight-input .red {
  color: #B70700;
  background-color: #FFEBE7;
}

.highlight-input {
  position: relative;
  border: 1px solid #d9d9d9;
  display: inline-block;
  width: 100%;
  font-size: 12px;
  padding: 5px;
}

.highlight-input .display-input {
  display: flex;
  min-width: 200px;
  width: 100%;
  height: 20px;
  line-height: 20px;
}

.highlight-input .real-input {
  position: absolute;
  outline: none;
  top: 5px;
  min-width: 200px;
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0);
  caret-color: black;
}
